<% @page_title = 'Genres' %>
<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <%= render "layouts/sidebar" %>
    </div>
    <% if customer_signed_in? && current_customer.admin? %>
      <table class="table offset-1 col-sm-5">
        <%= form_with model: @genre do |f| %>
          <td>
            <%= f.text_field :genre_name, class:"textfield" %>
            <%= f.submit class: "btn btn-success rounded-pill" %>
          </td>
        <% end %>
      </table>
  </div>
      <div id="create">
        <%= render 'genres/genre_index', genres: @genres %>
      </div>
</div>
    <% else %>
    <div class="col-sm-11">
      <div class="chapter-name">
        <h2 class="offset-1">ジャンル一覧</h2>
      </div>
      <table class="table offset-2 col-sm-5">
          <% @genres.each do |genre| %>
            <tr>
              <td><%= link_to genre.genre_name, recepis_path(keyword: genre.genre_name) %></td>
              <td>( <%= Genre.left_joins(:tags).where(tags: { genre_id: genre.id }).count %> 件)</td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
    <% end %>