<div class="offset-1">
<h2><strong><mark>レシピ編集</mark></strong></h2>
  <%= form_with model: @recepi, local: true do |f| %>
    <table class="table table-borderless col-sm-6">
      <tr>
        <th></th>
      </tr>
      <tr>
        <td><strong>＜タイトル＞</strong></td>
      </tr>
        <tr><td><%= f.text_field :recepi_title, autofocus: true, placeholder: "＜タイトルを入力してください(32文字以内)＞", size: "50" %></td></tr>
      <tr>
        <td><strong>＜材料＞</strong></td>
      </tr>
      <tr>
        <%= f.fields_for :recepi_ingredients do |t| %>
          <%= render "recepis/recepi_ingredient_fields", f: t %>
        <% end %>
      </tr>
      <tr class="recepi_ingredients"></tr>
      <tr>
        <th class="col-sm-6"></th>
        <td class="links">
          <%= link_to_add_association "＋", f, :recepi_ingredients, class: "btn btn-outline-success rounded-pill",
            data: {
            association_insertion_node: '.recepi_ingredients',
            association_insertion_method: 'before'
            } %>
        </td>
      </tr>
      <tr>
        <td><strong>＜作り方＞</strong></td>
      </tr>
      <tr>
        <%= f.fields_for :how_to_makes do |t| %>
          <%= render "recepis/how_to_make_fields", f: t %>
        <% end %>
      </tr>
      <tr class="how_to_makes"></tr>
      <tr>
        <th class="col-sm-6"></th>
        <td class="links">
          <%= link_to_add_association "＋", f, :how_to_makes, class: "btn btn-outline-success rounded-pill",
            data: {
            association_insertion_node: '.how_to_makes',
            association_insertion_method: 'before'
            } %>
        </td>
      </tr>
      <tr>
        <td><%= f.attachment_field :recepi_image %></td>
      </tr>
    </table>
    <div>
      <%= f.submit "編集内容を保存", class: "btn btn-primary rounded-pill" %>
    </div>
  <% end %>
</div>
<li>
  <%= link_to "TOP", root_path %>
</li>



