<%= stylesheet_link_tag 'recepis', media: 'all' %>
<% @page_title = @title %>
<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <%= render "layouts/sidebar" %>
    </div>

    <div class="col-sm-11">
      <div class="chapter-name">
        <h2><strong><%= @title %></strong></h2>
        <span> (全<%= @recepis.count %>件) </span>
        <%= link_to "新しい順", recepis_path(sort_update: "true") %> | <%= link_to "美味しい順", recepis_path(sort_top_rate_taste: "true") %> | <%= link_to "面白い順", recepis_path(sort_top_rate_fun: "true") %>
      </div>
        <%= render partial: "layouts/recepi_index", collection: @recepis, as: 'recepi' %>
    </div>
  </div>
</div>