<h2>レシピ一覧</h2>

<% @recepi.each do |recepi| %>
  <%= link_to recepi_path(recepi) do %>
    <%= attachment_image_tag(recepi, :recepi_image, :fill, 100, 100, format:'png', fallback: "no-image-icon.png") %>
  <% end %>
  <%= recepi.recepi_title %>
  <%= recepi.recepi_describe %>
<% end %>

<li>
  <%= link_to "TOP", root_path %>
</li>