<h2>レシピ新規登録</h2>

    <%= form_with model: @recepi, local: true do |f| %>
  <table class="table table-borderless">
      <tr>
        <th>タイトル</th>
        <td><%= f.text_field :recepi_title, autofocus: true, placeholder: "＜タイトルを入力してください(32文字以内)＞", size: "50" %></td>
      </tr>
      <tr>
        <th>材料</th>
        <td><%= f.text_area :recepi_describe, autofocus: true, placeholder: "＜材料一覧(右下をドラッグするとテキストボックスを大きく出来ます)＞", size: "53" %></td>
      </tr>
      <tr>
        <th>作り方</th>
        <td><%= f.text_area :recepi_body, autofocus: true, placeholder: "＜作り方(右下をドラッグするとテキストボックスを大きく出来ます＞", size: "53" %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.attachment_field :recepi_image %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "レシピ作成", class: "btn btn-secondary px-5 ml-3" %></td>
      </tr>
  </table>
    <% end %>
<li>
  <%= link_to "TOP", root_path %>
</li>