<h2>レシピ詳細</h2>

<div class="card offset-2" style="max-width: 40rem;">
  <img class="card-img-top"><%= attachment_image_tag(@recepi, :recepi_image, :fill, 100, 100, format:'png', fallback: "no-image-icon.png") %></p>
  <div class="card-body">
    <div class="card-title text-left" id="recepi_<%= @recepi.id %>">
      <%= link_to "#" do %>
        <p>コメント数：<%= @recepi.recepi_comments.count %>件</p>
      <% end %>
    </div>
    <h4 class="card-title text-center"><strong><%= @recepi.recepi_title %></strong></h4>

      <div class="text-right favorite-btn_<%= @recepi.id %>">
        <%= render "favorites/favorite-btn", recepi: @recepi %>
      </div>

    <p class="card-text">
      <span class="mark text-left"><strong>材料</strong></span><br>
      <% @recepi.recepi_ingredients.each do |recepi_ingredient| %>
        <p class="text-center"><%= recepi_ingredient.ingredient %></p><br>
      <% end %>
    </p>
    <p class="card-text">
      <span class="mark text-left"><strong>作り方</strong></span><br>
      <% @recepi.how_to_makes.each do |how_to_make| %>
        <p class="text-center">
          <%= how_to_make.recepi_make %>
        </p>
      <% end %>
    </p>
  <!--<td>閲覧数：<%#= @recepi.impressionist_count(:filter => :session_hash) %></td>-->
    <div class="card-text text-center">
    <% if @recepi.customer == current_customer || current_customer.admin? %>
      <%= link_to "編集", edit_recepi_path(@recepi), class: "btn btn-outline-primary rounded-pill" %>&emsp;
      <%= link_to '削除', recepi_path(@recepi), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger rounded-pill destroy_recepi_#{@recepi.id}" %>
    <% end %>
    </div>
	  <div class="card-footer text-right">
		  <div>
  		  <%= link_to customer_path(@recepi.customer) do %>
          <%#= attachment_image_tag(@recepi.customer, :customer_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
          レシピ製作者：<%= @recepi.customer.name %>
        <% end %>
      </div>
    </div>

    <% if RecepiRaty.exists?(customer_id: current_customer.id ,recepi_id: @recepi.id) %>
      <%= form_with model:[@recepi, @recepi_raty], url: recepi_recepi_raties_path(@recepi), local: true, method: :patch do |f| %>
        <div class="card-footer text-center">
            <%= f.label :美味しさ %>
            <div id="raty_taste_star" data-score="<%= @recepi_raty.recepi_taste %>"></div>
            <%= f.label :面白さ %>
          <div id="raty_fun_star" data-score="<%= @recepi_raty.recepi_fun %>"></div>
        </div>
        <div class="text-center">
        </div>
      <% end %>
    <% else %>
      <%= form_with model:[@recepi, @recepi_raty], url: recepi_recepi_raties_path(@recepi), local: true, method: :post do |f| %>
        <div class="card-footer text-center">
            <%= f.label :美味しさ %>
          <div id="raty_taste_star_new">
          </div>
            <%= f.label :面白さ %>
          <div id="raty_fun_star_new">
          </div>
        </div>
        <div class="text-center">
          <%= f.submit "評価する", class: "btn btn-outline-primary rounded-pill" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <h2>＜みんなのコメント＞</h2>
  <div id="recepi_comment_area">
    <%= render 'recepi_comments/index', recepi: @recepi %>
  </div>
  <div>
    <%= render 'recepi_comments/form', recepi: @recepi, recepi_comment: @recepi_comment %>
  </div>
</div>

<li>
  <%= link_to "TOP", root_path %>
</li>

<script>
  $('#raty_taste_star').raty({
    readOnly : true,
    starOff  : '<%= asset_path('star-off.png') %>',
    starOn   : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    scoreName: 'recepi_raty[recepi_fun]',
    half     : true,
    score    : '<%= @recepi_raty.recepi_taste.to_f %>',
    });

  $('#raty_taste_star_new').raty({
    starOff  : '<%= asset_path('star-off.png') %>',
    starOn   : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    scoreName: 'recepi_raty[recepi_taste]',
    half     : true,
    score    : 0, // デフォルト値
    });

  $('#raty_fun_star').raty({
    readOnly : true,
    starOff  : '<%= asset_path('star-off.png') %>',
    starOn   : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    scoreName: 'recepi_raty[recepi_fun]',
    half     : true,
    score    : '<%= @recepi_raty.recepi_fun.to_f %>',
    });

  $('#raty_fun_star_new').raty({
    starOff  : '<%= asset_path('star-off.png') %>',
    starOn   : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    scoreName: 'recepi_raty[recepi_fun]',
    half     : true,
    score    : 0,
    });
</script>
