<%= stylesheet_link_tag 'recepis_show', media: 'all' %>
<% @page_title = @recepi.recepi_title %>

<%= render "layouts/sidebar" %>

<div class="card offset-2">
  <img class="card-img-top"><%= attachment_image_tag(@recepi, :recepi_image, :fill, 100, 100, fallback: "default_product.png") %></p>
  <div class="card-body">
    <div class="text-left favorite-btn_<%= @recepi.id %>">
      <%= render "favorites/favorite-btn", recepi: @recepi %>
    </div>
    <div class="card-title text-left" id="recepi_<%= @recepi.id %>">
      閲覧数：<%= @recepi.impressionist_count(:filter => :session_hash) %>&emsp;
      <%= link_to "#recepi_comment_area" do %>
        コメント数：<%= @recepi.recepi_comments.count %>件
      <% end %>
    </div>
    <h4 class="card-title text-center"><strong><%= @recepi.recepi_title %></strong></h4>

    <p class="card-text">
      <span class="mark text-left"><strong>材料</strong></span><br>
      <% @recepi.recepi_ingredients.each do |recepi_ingredient| %>
        <p class="text-center post-it-thin"><%= recepi_ingredient.ingredient %></p><br>
      <% end %>
    </p>
    <p class="card-text">
      <span class="mark text-left"><strong>作り方</strong></span><br>
      <% @recepi.how_to_makes.each do |how_to_make| %>
        <p class="text-center post-it-thick">
          <%= how_to_make.recepi_make %>
        </p>
      <% end %>
    </p>
    <p class="card-text">
      <span class="mark text-left"><strong>タグ</strong></span><br>
      <% @recepi.genres.each do |genre| %>
        <p class="text-center post-it-thick">
          <%= genre.genre_name %>
        </p>
      <% end %>
    </p>

  <div class="card-text text-center">
    <% if @recepi.customer == current_customer || current_customer.admin? %>
    <%= link_to "編集", edit_recepi_path(@recepi), class: "btn btn-outline-primary rounded-pill" %>&emsp;
    <!--以下モーダルウィンドウ-->
    <button type="button" class="btn btn-outline-danger rounded-pill" data-toggle="modal" data-target="#deleteRecepiModal">削除</button>
      <div class="modal fade" id="deleteRecepiModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h3>削除確認画面</h3>
            </div>
            <div class="modal-body">
              <label>レシピを削除しますか？</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-out-line-default" data-dismiss="modal">閉じる</button>
              <%= link_to '削除', recepi_path(@recepi), method: :delete, class: "btn btn-outline-danger rounded-pill" %>
            </div>
          </div>
        </div>
      </div>
      <!--ここまで-->
  </div>
  <% end %>

	  <div class="card-footer text-right">
  		  <%= link_to customer_path(@recepi.customer) do %>
          <%#= attachment_image_tag(@recepi.customer, :customer_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
          レシピ製作者：<%= @recepi.customer.name %>
        <% end %>
        <div id="follow_<%= @recepi.customer.id %>">
          <%= render "recepis/follow", customer: @recepi.customer %>
        </div>
    </div>

    <% if RecepiRaty.exists?(customer_id: current_customer.id ,recepi_id: @recepi.id) %>
    <!--コントローラーと同じ記述で場合分け。過去に評価したことがあるかを調べている-->
      <%= form_with model:[@recepi, @recepi_raty], url: recepi_recepi_raties_path(@recepi), local: true, method: :patch do |f| %>
        <div class="card-footer text-center">
          <%= f.label :美味しさ %>
          <div id="raty_taste_star" data-score="<%= @recepi_raty.recepi_taste %>"></div>
          <%= f.label :面白さ %>
          <div id="raty_fun_star" data-score="<%= @recepi_raty.recepi_fun %>"></div>
            <!--data-scoreで前回値をもってきている-->
        </div>
        <div class="text-center">
        </div>
      <% end %>
    <% else %>
      <%= form_with model:[@recepi, @recepi_raty], url: recepi_recepi_raties_path(@recepi), local: true, method: :post do |f| %>
        <div class="card-footer text-center">
            <%= f.label :美味しさ %>
          <div id="raty_taste_star_new">
          </div>
            <%= f.label :面白さ %>
          <div id="raty_fun_star_new">
          </div>
        </div>
        <div class="text-center">
          <%= f.submit "評価する", class: "btn btn-outline-primary rounded-pill" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <h2>＜みんなのコメント＞</h2>
  <div id="recepi_comment_area">
    <%= render 'recepi_comments/index', recepi: @recepi %>
  </div>
  <div>
    <%= render 'recepi_comments/form', recepi: @recepi, recepi_comment: @recepi_comment %>
  </div>
</div>

<script>
  $('#raty_taste_star').raty({
    readOnly : true,
    starOff  : '<%= asset_path('star-off.png') %>',
    starOn   : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    scoreName: 'recepi_raty[recepi_fun]',
    half     : true,
    });

  $('#raty_taste_star_new').raty({
    starOff  : '<%= asset_path('star-off.png') %>',
    starOn   : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    scoreName: 'recepi_raty[recepi_taste]',
    half     : true,
    score    : 0, // デフォルト値
    });

  $('#raty_fun_star').raty({
    readOnly : true,
    starOff  : '<%= asset_path('star-off.png') %>',
    starOn   : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    scoreName: 'recepi_raty[recepi_fun]',
    half     : true,
    });

  $('#raty_fun_star_new').raty({
    starOff  : '<%= asset_path('star-off.png') %>',
    starOn   : '<%= asset_path('star-on.png') %>',
    starHalf : '<%= asset_path('star-half.png') %>',
    scoreName: 'recepi_raty[recepi_fun]',
    half     : true,
    score    : 0,
    });
</script>