<%= stylesheet_link_tag 'customers', media: 'all'%>

  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="#">
      </div>
      <div class="contentBx">
        <div class="content">
          <h3>
            <%= link_to "My Data", customer_path(@customer) %>
          </h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="#">
      </div>
      <div class="contentBx">
        <div class="content">
          <h3>
            <%= link_to "My Recipes", my_recepi_customer_path(@customer) %>
          </h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="#">
      </div>
      <div class="contentBx">
        <div class="content">
          <h3>
            <%= link_to "Favorite","#" %>
            </h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="#">
      </div>
      <div class="contentBx">
        <div class="content">
          <h3>
            <%= link_to "Recipes of others", recepis_path %>
          </h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="#">
      </div>
      <div class="contentBx">
        <div class="content">
          <h3>
            <%= link_to "Edit", edit_customer_path(@customer) %>
          </h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="#">
      </div>
      <div class="contentBx">
        <div class="content">
          <h3>
            <%= link_to "Ranking","#"%>
          </h3>
        </div>
      </div>
    </div>
  </div>