<div class="offset-2">
<% @page_title = @customer.name + '’s page' %>

<%= render "layouts/sidebar" %>

<h1 class="mt-5"><%= @customer.name %>さんのData</h1>
  <table class="table table-borderless col-sm-6">
    <tr>
      <th>投稿数：</th>
      <td>
        <%= link_to my_recepi_customer_path(@customer) do %>
          <%= @customer.recepis.count %>件
        <% end %>
      </td>
    </tr>
    <tr>
      <th>お気に入り：</th>
      <td>
        <%= link_to my_favorite_customer_path(@customer) do %>
          <%= @customer.favorites.count %>件
        <% end %>
      </td>
    </tr>
    <tr>
      <th>フォロー：</th>
      <td>
        <%= link_to customer_followings_path(@customer) do %>
          <%= @customer.followings.count %>人
        <% end %>
      </td>
    </tr>
    <tr>
      <th>フォロワー：</th>
      <td>
        <%= link_to customer_followers_path(@customer) do %>
          <%= @customer.followers.count %>人
        <% end %>
      </td>
    </tr>
    <tr>
      <th>登録日：</th>
      <td><%= @customer.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
  </table>
</div>