<%= stylesheet_link_tag 'homes', media: 'all'%>

    <div class="box curved">
      <div class="shadow">
        <h2>SwAre+</h2>
        <h2>SwAre+</h2>
        <h2>SwAre+</h2>
        <h2>SwAre+</h2>
        <!--４つ使って波を表現している-->
      </div>
      <div class="background">
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>

        <% if customer_signed_in? %>
          <div class="choco shadows">
            <%= link_to 'Mypage', customers_path %>
          </div>
        <% else %>
          <div class="choco shadows"></div>
        <% end %>

        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>

        <div class="choco shadows">
            <%= link_to 'Recipes', recepis_path %>
        </div>

        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>

        <% if customer_signed_in? %>
          <div class="choco shadows">
            <%=link_to "New Recipe" , new_recepi_path %>
          </div>
        <% else %>
          <div class="choco shadows">
            <%= link_to 'Account','/customers/sign_up ' %>
          </div>
        <% end %>

        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>
        <div class="choco shadows"></div>

        <% if customer_signed_in? %>
          <div class="choco shadows">
            <%= link_to 'Log out', destroy_customer_session_path, method: :delete %>
          </div>
        <% else %>

          <div class="choco shadows"></div>
        <% end %>
      </div>
    </div>

