<%= stylesheet_link_tag 'homes', media: 'all'%>
  <!--<div class="container">-->
    <div class="box curved">
      <div class="shadow">
        <h2>SwAre+</h2>
        <h2>SwAre+</h2>
        <h2>SwAre+</h2>
        <h2>SwAre+</h2>
      </div>
    </div>
  <!--</div>-->

<% if customer_signed_in? %>
<li>
  <%= link_to 'Mypage', customers_path %>
</li>
<li>
  <%= link_to 'みんなのRecepis', recepis_path %>
</li>
<li>
  <%=link_to "New Recepi" , new_recepi_path %>
</li>
<li>
  <%= link_to 'Log out', destroy_customer_session_path, method: :delete %>
</li>

<% else %>
<li>
  <%= link_to 'みんなのRecepis', recepis_path %>
</li>
<li>
  <%= link_to 'Account','/customers/sign_up ' %>
</li>
<% end %>