<%= stylesheet_link_tag 'sidebar', media: 'all' %>

<nav class="sidebar close">
  <header>
    <div class="image-text">
      <span class="image">
        <%= image_tag('logo.png') %>
      </span>

      <div class="text logo-text">
        <span class="name">Sware+</span>
      </div>
    </div>
    <i class='bx bxs-chevrons-right toggle'></i>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <li class="search-box">
        <i class='bx bx-search-alt icon'></i>
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, placeholder: "Name or #Genre" %>
          <% f.submit %>
        <% end %>
      </li>

      <ul class="menu-links">
        <li class="nav-link">
          <%= link_to root_path do %>
            <i class='bx bx-home-alt icon'></i>
            <span class="text nav-text">Home</span>
          <% end %>
        </li>

        <li class="nav-link">
          <%= link_to recepis_path do %>
            <i class='bx bx-book icon'></i>
            <span class="text nav-text">Recipes</span>
          <% end %>
        </li>

        <li class="nav-link">
          <%= link_to rank_path do %>
            <i class='bx bx-crown icon'></i>
            <span class="text nav-text">Ranking</span>
          <% end %>
        </li>

        <% if customer_signed_in? %>
          <li class="nav-link">
            <%= link_to new_recepi_path do %>
              <i class='bx bx-cake icon'></i>
              <span class="text nav-text">New Recipe</span>
            <% end %>
          </li>

          <li class="nav-link">
            <%= link_to customers_path do %>
              <i class='bx bx-bell icon'></i>
              <span class="text nav-text">My Page</span>
            <% end %>
          </li>

          <li class="nav-link">
            <%= link_to customer_path(current_customer.id) do %>
              <i class='bx bx-bar-chart-alt-2 icon'></i>
              <span class="text nav-text">My Data</span>
            <% end %>
          </li>

          <li class="nav-link">
            <%= link_to my_recepi_customer_path(current_customer.id) do %>
              <i class='bx bxs-user-account icon'></i>
              <span class="text nav-text">My Recipes</span>
            <% end %>
          </li>

          <li class="nav-link">
            <%= link_to my_favorite_customer_path(current_customer.id) do %>
              <i class='bx bx-heart icon'></i>
              <span class="text nav-text">My Favorite</span>
            <% end %>
          </li>

          <li class="nav-link">
            <%= link_to destroy_customer_session_path, method: :delete do %>
              <i class='bx bx-log-out icon'></i>
              <span class="text nav-text">Logout</span>
            <% end %>
          </li>
        <% else %>
          <li class="nav-link">
            <%= link_to '/customers/sign_up' do %>
              <i class='bx bx-log-in icon'></i>
              <span class="text nav-text">Account</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<section class="home">
</section>
  <script>
// window.addEventListener('load', function(){
  const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");


  toggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
  })

  searchBtn.addEventListener("click", () => {
    sidebar.classList.remove("close");
  });
</script>

<!--<script>-->
<!--  const body = document.querySelector('body'),-->
<!--    sidebar = body.querySelector('nav'),-->
<!--    toggle = body.querySelector(".toggle"),-->
<!--    searchBtn = body.querySelector(".search-box"),-->
<!--    modeSwitch = body.querySelector(".toggle-switch"),-->
<!--    modeText = body.querySelector(".mode-text");-->


<!--  toggle.addEventListener("click", () => {-->
<!--    sidebar.classList.toggle("close");-->
<!--  })-->

<!--  searchBtn.addEventListener("click", () => {-->
<!--    sidebar.classList.remove("close");-->
<!--  })-->

<!--  modeSwitch.addEventListener("click", () => {-->
<!--    body.classList.toggle("dark");-->

<!--    if (body.classList.contains("dark")) {-->
<!--      modeText.innerText = "Light mode";-->
<!--    } else {-->
<!--      modeText.innerText = "Dark mode";-->

<!--    }-->
<!--  });-->
<!--</script>-->
